@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.logo {


    &__img {
        width: 100px;
        height: 30px;
        object-fit: cover;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        display: none
    }

    &__items {
        display: flex;
        gap: 0 30px;

    }

    &__link {
        font-size: 14px;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.5s;
        outline-color: #000000;
        outline-offset: 5px;
        display: block;
        color: #3D4143;
        padding: 30px 0;
        @include line-clamp-inline(1);

        &:focus {
            color: $focus;
        }

        &:hover {
            border-bottom: 3px solid #EB6924;
        }

        &:active {
            color: $active;
        }
    }
}

.header {

    &__top {
        background-color: #f9f8f8;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        margin: 0 auto;
        max-width: 1250px;
    }

    &__button {
        padding: 30px 0;
    }



    .surface1 q path {
        &:hover {
            fill: red;
        }
    }
}

.social {
    display: flex;
    gap: 15px;

    &__link {
        display: inline-flex;
    }
}

.tel {
    display: flex;
    align-items: center;
    transition: color 0.5s;

    &:focus {
        color: $focus;
    }

    &:hover {
        color: $ac;
    }

    &:active {
        color: $active;
    }

    &__svg {
        margin-right: 10px;

        // &:focus {
        //     color: $focus;
        // }

        // &:hover q path {
        //     fill: red;
        // }

        // &:active {
        //     color: $active;
        // }
    }
}






.nav {
    gap: 20px;
    display: flex;

    &__brand {
        padding: 11px;
        font-size: 14px;
        color: $ac;
        background-color: $white1;
        border: 1px solid $ac;
        @include line-clamp-inline(1);

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $white;
            background-color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__button {
        padding: 9px;
        border-radius: 3px;
        font-size: 14px;
        border: none;
        color: $white;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #ff9000), to(#ff6500));
        transition: background-color 0.5s;
        @include line-clamp-box(1);

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            color: $active;
        }
    }
}

#container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.hero {
    padding-bottom: 50px;
    position: relative;

    &__video {
        width: 1250px;
        height: 55vh;
        object-fit: cover;
        position: relative;
        z-index: -999;
    }

    &__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 360px;
        width: 300px;
        z-index: 999;
    }
}

.about {
    padding: 50px 0;

    &__title {
        position: relative;
        margin-bottom: 45px;

        &::before {
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            height: 50px;
            width: 400px;
            background-image: url('../images/yellow-stripe.png');
        }
    }

    &__text {
        width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 0 45px 0;
        margin-bottom: 50px;
    }

    &__text p {
        width: 265px;
        // margin-bottom: 45px;
        position: relative;
    }

    &__text span {
        font-weight: 700;
    }

    &__svg {
        margin-bottom: 10px;
    }
}

.statistic {
    padding-top: 50px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: center;
        // flex-direction: column;
        align-items: center;
        width: 415px;
        min-height: 320px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: background-color 0.5s;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        // cursor: pointer;
        // z-index: -999;

        // background: $orange1;

        &:focus {
            color: $focus;
        }

        &:hover {
            // opacity: 00.1;
            // z-index: 999;
            // background: $orange1;
            // background: $orange1;
            // background: rgba(0, 0, 0, 0.4);
            // background-color: red;
            // opacity: 0.8;

            // $orange1
            // z-index: 999;

            .statistic__content {
                // visibility: initial;
                // justify-content: center;
                // flex-direction: column;
                transform: translateY(0%);
                transition: transform 1s;
                opacity: 1;
                z-index: 999;
                // background: #eb6924;
                // height: 100%;
                // width: 100%;

            }


            .statistic__text {
                display: none;
            }
        }

        &:active {
            color: $active;
        }
    }

    &__flex {
        // background: $orange1;
        // opacity: 0.8;
        transition: background-color 0.5s;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        // transform: translateX(-50%);

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.8;
            background: $orange1;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        color: $white;
        width: 250px;
    }

    &__box {
        padding-right: 40px;
    }

    &__arrow {
        height: 1px;
        width: 100%;
        background-color: $white;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__number {
        font-weight: bold;
        font-size: 48px;
        text-align: center;
        display: block;
        margin-bottom: 5px;
        // margin-top: 7px;
        // margin-bottom: 7px;
    }

    &__info {
        padding-left: 40px;
        white-space: nowrap;
    }

    &__content {
        // visibility: hidden;
        padding: 70px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transform: translateY(999%);
        color: $white;
        transition: transform 1s;
        // z-index: 999;
        opacity: 00.8;



        // background: $orange1;

    }
}

.conditions {
    padding-top: 50px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 180px;
        left: 24%;
        width: 960px;
        height: 145px;
        z-index: -999;
        background-image: url('../images/conditions-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 960px 151px;
    }

    &__title {
        margin-bottom: 30px;
        position: relative;
        padding: 34px 0;

        &::before {
            content: "";
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            height: 100px;
            width: 800px;
            background-image: url('../images/yellow-stripe.png');
            // line-height: 100px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    .conditions__item {
        width: 320px;

    }

    .conditions__inner {
        display: flex;
    }

    .conditions__number {
        transition: color 0.5s;
        font-weight: 500;
        font-size: 120px;
        color: #d2ecb9;
        margin-right: 10px;
        font-family: 'pfsquaresanspro';

        &--mr {
            margin-left: 20px;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $green1;
        }

        &:active {
            color: $active;
        }
    }

    .conditions__right {
        padding-top: 25px;
        width: 215px;
    }

    .conditions__subtitle {
        font-size: 18px;
        margin-bottom: 5px;
        color: $black;
        font-weight: 500;
    }

    .conditions__text {
        font-size: 14px;
        color: $black1;
        line-height: 22px;


        &--list {
            list-style: disc;
            padding-left: 20px;
        }
    }

    .conditions__info {
        display: flex;
        border-top: 1px solid $white2;
        border-bottom: 1px solid $white2;
    }

    .conditions__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

#map {
    height: 335px;
    width: 500px;

}







/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';