@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.logo {


    &__img {
        width: 100px;
        height: 30px;
        object-fit: cover;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;

    &__btn {
        display: none
    }

    &__items {
        display: flex;
        gap: 0 30px;

    }

    &__link {
        font-size: 14px;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.5s;
        outline-color: #000000;
        outline-offset: 5px;
        display: block;
        color: #3D4143;
        padding: 30px 0;
        @include line-clamp-inline(1);

        &:focus {
            color: $focus;
        }

        &:hover {
            border-bottom: 3px solid #EB6924;
        }

        &:active {
            color: $active;
        }
    }
}

.header {

    &__top {
        background-color: #f9f8f8;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        margin: 0 auto;
        max-width: 1250px;
    }

    &__button {
        padding: 30px 0;
    }



    .surface1 q path {
        &:hover {
            fill: red;
        }
    }
}

.social {
    display: flex;
    gap: 15px;

    &__link {
        display: inline-flex;
    }
}

.tel {
    display: flex;
    align-items: center;
    transition: color 0.5s;

    &:focus {
        color: $focus;
    }

    &:hover {
        color: $ac;
    }

    &:active {
        color: $active;
    }

    &__svg {
        margin-right: 10px;

        // &:focus {
        //     color: $focus;
        // }

        // &:hover q path {
        //     fill: red;
        // }

        // &:active {
        //     color: $active;
        // }
    }
}






.nav {
    gap: 20px;
    display: flex;

    &__brand {
        padding: 11px;
        font-size: 14px;
        color: $ac;
        background-color: $white1;
        border: 1px solid $ac;
        @include line-clamp-inline(1);

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $white;
            background-color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__button {
        padding: 9px;
        border-radius: 3px;
        font-size: 14px;
        border: none;
        color: $white;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #ff9000), to(#ff6500));
        transition: background-color 0.5s;
        @include line-clamp-box(1);

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            color: $active;
        }
    }
}

#container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.hero {
    padding-bottom: 50px;
    position: relative;

    &__video {
        width: 1250px;
        height: 55vh;
        object-fit: cover;
        position: relative;
        z-index: -999;
    }

    &__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 360px;
        width: 300px;
        z-index: 999;
    }
}

.about {
    padding: 50px 0;

    &__title {
        position: relative;
        margin-bottom: 45px;

        &::before {
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            height: 50px;
            width: 400px;
            background-image: url('../images/yellow-stripe.png');
        }
    }

    &__text {
        width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 0 45px 0;
        margin-bottom: 50px;
    }

    &__text p {
        width: 265px;
        // margin-bottom: 45px;
        position: relative;
    }

    &__text span {
        font-weight: 700;
    }

    &__svg {
        margin-bottom: 10px;
    }
}

.statistic {
    padding-top: 50px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 320px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 415px;
        min-height: 320px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &:hover {
            .statistic__background {
                opacity: 0.8;
            }


            .statistic__content {
                top: 50%;
            }

            .statistic__text {
                opacity: 0;
                visibility: hidden;
            }
        }
    }



    &__content {
        width: 80%;
        position: absolute;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 10;
        transition: all 0.5s;
    }

    &__subtext {
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        position: relative;
        color: $white;
        z-index: 5;

    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $orange1;
        opacity: 0.01;
        z-index: 1;
        transition: opacity 1s,
    }

    &__text {
        color: $white;
        z-index: 10;
        white-space: nowrap;
        opacity: 1;
        visibility: visible;
        width: 240px;

    }

    &__box {
        padding-right: 40px;
    }

    &__arrow {
        height: 1px;
        width: 100%;
        background-color: $white;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__number {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        display: block;
        margin-bottom: 5px;
    }

    &__info {
        padding-left: 40px;
        white-space: nowrap;
    }
}

.conditions {
    padding-top: 50px;
    position: relative;
    background-color: $white;

    &::before {
        content: "";
        position: absolute;
        top: 180px;
        left: 24%;
        width: 960px;
        height: 145px;
        z-index: -999;
        background-image: url('../images/conditions-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 960px 151px;
    }

    &__title {
        margin-bottom: 30px;
        position: relative;
        padding: 34px 0;

        &::before {
            content: "";
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            height: 100px;
            width: 800px;
            background-image: url('../images/yellow-stripe.png');
            // line-height: 100px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    .conditions__item {
        width: 320px;

    }

    .conditions__inner {
        display: flex;
    }

    .conditions__number {
        transition: color 0.5s;
        font-weight: 500;
        font-size: 120px;
        color: #d2ecb9;
        margin-right: 10px;
        font-family: 'pfsquaresanspro';

        &--mr {
            margin-left: 10px;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $green1;
        }

        &:active {
            color: $active;
        }
    }

    .conditions__right {
        // padding-top: 25px;
        width: 215px;
    }

    .conditions__subtitle {
        font-size: 18px;
        margin-bottom: 5px;
        color: $black;
        font-weight: 500;
    }

    .conditions__text {
        font-size: 14px;
        color: $black1;
        line-height: 22px;
        @include line-clamp-box(6);

        &--list {
            list-style: disc;
            padding-left: 20px;
            @include line-clamp-box(1);

        }
    }

    .conditions__info {
        display: flex;
        border-top: 1px solid $white2;
        border-bottom: 1px solid $white2;
        padding: 20px 20px;
        justify-content: space-between;
        position: relative;

        &::before {
            content: "\2714";
            position: absolute;
            top: 0;
            right: 0;
            height: 10px;
            width: 10px;
        }
    }

    .conditions__inner {
        display: flex;
        align-items: center;
    }
}

.packages {
    padding-top: 50px;

    &__items {
        display: flex;
        justify-content: space-around;

        padding-bottom: 50px;
    }

    &__item {
        border-radius: 30px;
        background-color: $white;
        // background-position: center center;
        border: 15px solid $white3;
        display: flex;
        flex-direction: column;

        // align-items: center;
        // justify-content: flex-end;

        max-width: 555px;
    }

    &__rate {
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 42px;


        &--color-wi {
            color: $orange2;
        }

        &--color-ju {
            color: $green3;
        }

    }

    &__text {
        padding: 0 10px;
        margin-bottom: 20px;
        text-align: center;
        color: $silver;
        line-height: 1.55;
        font-weight: 500;
        @include line-clamp-box(3);
    }

    &__list {
        margin-bottom: 5px;
        padding: 0 65px;
        // width: 80%;
        // margin: 0 auto;
        margin-bottom: auto;
    }

    &__list span {
        color: red;
    }

    &__list li {
        color: $black;
        font-size: 16px;
        line-height: 1.55;
        @include line-clamp-box(2);

        // margin: 10px 60px;
        // width: 80%;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        // display: block;
        margin: 20px auto;
        padding: 20px 57px;
        color: $white;
        margin-top: 60px;

        max-width: 480px;

        text-align: center;
        font-size: 14px;
        // line-height: 55px;
        font-weight: 500;
        letter-spacing: 2px;
        border-radius: 30px;
        @include line-clamp-box(1);
        transition: background-color 0.5s color 0.5s;

        &--color {
            background-color: $green3;
            border: 2px solid $green3;

            &:hover {
                color: $green3;
            }
        }

        &--color-link {
            background-color: $orange2;
            border: 2px solid $orange2;

            &:hover {
                color: $orange2;
            }
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            background-color: $white;
        }

        &:active {
            color: $active;
        }
    }

    &__img {
        width: 1250px;
        height: 520px;
        object-fit: cover;
    }
}

#map {
    margin: 0 auto 30px;
    height: 566px;
    max-width: 960px;
}

.map {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        @include line-clamp-inline(1);

        &:not(:last-child) {
            margin-right: 65px;
        }

    }

    &__svg {
        margin-bottom: 20px;
    }
}

.create-office {
    padding-top: 100px;

    /*возможно разделить*/
    &__title {
        margin-bottom: 20px;
        position: relative;
        padding: 5px 0;

        &::before {
            content: "";
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            height: 100px;
            width: 445px;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin: auto auto 30px auto;
    }

    &__text {
        max-width: 610px
    }

    &__text p {
        @include line-clamp-box(6);
    }

    &__info {}

    &__div {
        display: flex;
    }

    &__box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 12px 22px 12px 22px;
        border: 1px solid #f3f3f3;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


        &:not(:last-child) {
            margin-right: 10px;
        }


    }

    &__number {
        display: block;
        // color: #eb6924;
        font-size: 24px;
        margin-top: 18px;
        line-height: 1;

        &--shopping {
            color: $orange1;
        }

        &--gifts {
            color: $green4;
        }
    }

    &__gifts {}

    &__prise {
        margin-left: 10px;

    }

    &__sum {
        display: flex;
        justify-content: flex-end;
        // padding-left: 90px;
        font-weight: 500;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: $black2;
        max-width: 140px;
        // @include line-clamp-box(1);
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        // overflow: hidden;/*! не получилось правильно сделать обрезание текста*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // padding-left: 70px;
    }

    &__button {
        display: block;
        padding: 10px 31px;

        border: none;
        cursor: default;
        background-color: $white4;
        color: $white5;
        font-size: 16px;
        /*переделать инпутом*/
    }
}

.filter {
    &__list {
        display: flex;
        justify-content: center;
        border-top: 1px solid $silver1;
        border-bottom: 1px solid $silver1;
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        justify-content: center;
        outline-color: $black;
        outline-offset: 5px;
        // padding: 10px 0;
        height: 40px;

        font-size: 14px;
        color: $black2;
        cursor: pointer;

        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__btn {
        background-color: transparent;
        border: none;

    }
}

.mixitup-control-active {
    border-bottom: 2px solid $ac;

}

.slider-content {
    &__item {
        width: 295px;
        /*!*/
        height: 295px;
        // padding: 50px 75px;
        background-color: $white;
        border: 1px solid $silver2;
        cursor: pointer;
        // margin-bottom: 35px;
    }

    &__img {
        width: 295px;
        height: 295px;
        object-fit: none;
    }

    &__swiper {
        width: 960px;
        /*960*/
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px 30px;
        margin-bottom: 80px;
    }
}


.swiper-wrapper {
    height: 660px;
    width: 960px;
    margin: auto;


}

.swiper {
    width: 960px;
}


.swiper-button-prev,
.swiper-button-next {
    z-index: 999;
    display: block;

}

.swiper-button-next {}

.swiper-button-prev {}




.reviews {
    padding-bottom: 50px;

    &__title {
        margin-bottom: 20px;
        position: relative;
        font-weight: 700;
        font-size: 16px;
        text-align: center;

        &::before {
            content: "";
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            height: 50px;
            width: 400px;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        // overflow-x: auto;
        // overflow-y: visible;
        overflow: hidden;
        cursor: grab;
    }

    &__img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    &__review {
        width: 300px;
        height: 300px;
        background-color: $white;
    }

    &__adress {

        font-size: 14px;
        color: $silver3;
        line-height: 1.1;
        margin-bottom: 15px;
        text-align: center;
    }

    &__text {
        font-style: italic;
        font-size: 14px;
        line-height: 1.5;
        padding: 0 15px;
        // min-height: 100px;
        overflow: overlay;
        // overflow-y: scroll;
        // overflow-x: visible; // position: relative;
        // z-index: 1;
        // width: 100%;
        width: 300px;
        height: 300px;
    }
}


.cooperation {
    &__title {
        padding: 34px;
        margin-bottom: 20px;
        position: relative;
        font-weight: 700;
        font-size: 16px;
        text-align: center;

        &::before {
            content: "";
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            height: 100px;
            width: 800px;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

    }

    &__img {
        max-width: 960px;
        height: 333px;
    }
}












/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper>.scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper>.scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}

.scroll-element,
.scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}

.scroll-textarea>.scroll-content {
    overflow: hidden !important;
}

.scroll-textarea>.scroll-content>textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}

.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner>.scroll-element,
.scrollbar-inner>.scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner>.scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner>.scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner>.scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner>.scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner>.scroll-element .scroll-element_outer,
.scrollbar-inner>.scroll-element .scroll-element_track,
.scrollbar-inner>.scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner>.scroll-element .scroll-element_track,
.scrollbar-inner>.scroll-element .scroll-bar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #e0e0e0;
}

.scrollbar-inner>.scroll-element .scroll-bar {
    background-color: #c2c2c2;
}

.scrollbar-inner>.scroll-element:hover .scroll-bar {
    background-color: #919191;
}

.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar {
    background-color: #919191;
}


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}


.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

.permanent {
    width: 950px;
    height: 50px;
}

#demo {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: overlay;
}

.demo {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: overlay;
}


/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';